<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    
    <!-- googlefont -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Ubuntu|Montserrat:900,400|Sacramento&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- Added by Malay for Stars in Trainer Review --}}
    {{!-- W3Schools --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- Added by Malay for Stars in Trainer Review --}}
    <!-- local css -->
    <link rel="stylesheet" href="/public/css/main.css">
   
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/32ceffe9b4.js" crossorigin="anonymous"></script>
    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $(function () {
      $(document).scroll(function () {
      var $nav = $(".fixed-top");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      });
      
      })
      
    </script>
 
</head>
<body>
<header>
  <div class="container-fluid ">
  <nav class="navbar navbar-expand-lg fixed-top ">
              <a class="navbar-brand" href="/">
                GymStar
              </a>

              {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
              </button> --}}

              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                 
                
                  {{#if landing}}
                  <ul class="navbar-nav nav ml-auto flt">
                  <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#howit">HOW IT WORKS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#features">FEATURES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#testimonials">WHY?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#footer">CONTACTUS</a>
                  </li>
                  </ul>
                  {{else}}
                  

                  <form method="POST" action="/gyms/search" class="form-inline my-2 my-lg-0 search-container">
                  <input class="form-control mr-sm-2 search-input" type="search" id="search-bar" name="searchTerm" placeholder="Search Gyms Here" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0"  name="submit">Search</button>
                  </form>



                  {{/if}}
                  <ul>
                  {{#if loggedin}}
                  <li>
                    <div class="dropdown show">
                      <a class="btn btn-info text-center dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Hey, {{name}}
                      </a>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/userprofile">Your profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                            
                      </div>
                          </div>
                          </li>
                  {{else}}
                    <li class="nav-item">
                    <a href="/login" class="btn btn-outline-success text-center" >LOGIN</a>
                    </li>

                    
                  {{/if}}

                  
                </ul>
              </div>
            </nav>
            </div>
</header>

{{{body}}}
   <script src="/public/js/trainerReviewScript.js"></script>
</body>
</html>