<main>

    <div class="main">

        <section class="signup">
            
            <div class="container">
                <div class="signup-content">
                    <form method="POST" action="/trainers/createReviewTrainer" id="trainer-review-form" class="signup-form">
                        <h2 class="form-title">Create Review</h2>


                        <div class="form-row">
                        <div class="form-group col-md-12 mb-4">
                            {{!-- Show trainer's name here --}}
                            <h3 id="trainer">{{trainerFirstname}}</h3>
                            <input name="trainerFirstname" value={{trainerFirstname}} hidden>
                            <input name="trainerLastname" value={{trainerLastname}} hidden>
                            <input name="trainerId" value={{trainerId}} hidden>
                            {{!-- <input name="gymId" value={{gymId}} hidden> --}}
                        </div>
                        </div>

                        <div class="form-row">
                        <div class="form-group col-md-6 mb-3">
                            <span class="fa fa-star starTR checked" style="color:blue;" data-val="1"></span>
                            <span class="fa fa-star starTR checked" style="color:blue;" data-val="2"></span>
                            <span class="fa fa-star starTR checked" style="color:blue;" data-val="3"></span>
                            <span class="fa fa-star starTR" style="color:blue;" data-val="4"></span>
                            <span class="fa fa-star starTR" style="color:blue;" data-val="5"></span>
                            <input id="starTR" name="starTR" hidden>
                        </div>
                        </div>
                        <div id="error-star" hidden></div>

                        
                        <div class="form-group">
                          <textarea id="reviewTextTR" name="reviewTextTR" rows="4" cols="50" required></textarea>
                        </div>
 
                <div class="form-group">
                    <button type="button"  id="submitTRB" class="form-submit" >Submit</button>
                
                </div>
                {{#if success}}
                <h3>{{success}}</h3>
                {{/if}}
        </form>
                   
                </div>
            </div>
        </section>

    </div>
    

</main>




