
<div class="main">

<div class="container">
  
  <div class="card" style="width:600px">
    
    <div class="card-body">

      <h1 class="card-title">{{trainer.trainerFirstName}}</h1>
      <h2 hidden></h2>
      <h3 hidden></h3>
      <h4 hidden></h4>
      <h5 class="card-title">{{trainer.trainerLastName}}</h5>
      <h5 class="card-title">{{trainer.overallRating}}</h5>
      <h5 class="card-title">"Working in this industory since past {{trainer.experience}} years"</h5>
      <a href="/trainers/reviewTrainer/{{trainer._id}}" class="btn btn-primary">Review Trainers</a>
    
    </div>
  </div>
</div>    

<h5>Reviews</h5>


{{#if reviews}}
{{#each reviews}} 

  <div class="container">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4">
          <h1 class="text-dark">{{reviewer}}</h1>
          <p class="small text-muted font-italic">{{date}}</p>
          <ul class="list-inline small">
            {{#times rating}}
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            {{/times}}
            
          </ul>
          <h2 hidden></h2>
          <h3 hidden></h3>
          <h4 hidden></h4>
          <h5 hidden></h5>
          <h6 class="text-dark">{{reviewText}}</h6>
          
        </div>
      </div>
    </div>
    <br>

   
  {{/each}}
  {{else}}
    <h4> Sorry, No reviews Aat the momment</h4>
    {{/if}}


</div>
{{!-- <div>
    <h2>something</h2>
</div> --}}