<div>

<div class="main">
<div class="container">
  {{!-- <h3>{{error}}</h3> --}}
  {{#if trainers}}
  {{#each trainers}} 
  
<div onclick="location.href='/trainers/trainer/{{this._id}}';" class="card" style="width:600px"></div>
    <div class="card-body bg-dark text-white">
        <a href='/trainers/trainer/{{this._id}}'>
            <h1 class="card-title-trainerList">{{trainerFirstName}}</h1>
        </a>
      <h2 hidden></h2>
      <h3 hidden></h3>
      <h4 hidden></h4>
      <h5 class="card-title">{{trainerLastName}}</h5>
      <h5 class="card-title">{{overallRating}}</h5>
      <h5 class="card-title">"Working in this industory since past {{experience}} years"</h5>
      <a href="/trainers/reviewTrainer/{{this._id}}" class="btn btn-primary">Review Trainers</a>
      {{!--By Malay: Add gym overall rating as well --}}
      
      {{!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> --}}
    </div>
  </div>



  {{/each}} 
  {{else}}
  

        <section class="signup">
            
            <div class="container">
                <div class="signup-content center">
                    <h4 id="notrainer">Currently, no Trainer information is available </h4>
                    <a class="btn btn-primary center" href="/gyms">Go to gyms</a>
                    
                    
                </div>
            </div>

        </section>
<br>
<br>
<br>
    
  
  {{/if}}

  <br>
  <br>
  <br>
</div>
</div> 



{{!-- </div> --}}



