<div>

 

<div class="main">
<div class="container">

<div class="filter" >
  <form method="POST" action="/gyms/gfilter" id="filterForm" class="search-container">
  <div style="float:left; width:70%;">
    <div class="form-group col-md-6 mb-3">
                          
      <select class="form-control" id="rating" name="rating" >
          <option value="" class="gray" selected disabled hidden>Select Rating</option>
          <option value="null">Please Select Rating</option>
          <option value="0">0.0 or More</option>
          <option value="1">1.0 or More</option>
          <option value="2">2.0 or More</option>
          <option value="3">3.0 or More</option>
          <option value="4">4.0 or More</option>
      </select>
    </div>
  </div>
  <div style="float:left; width:70%;">
    <div class="form-group col-md-6 mb-3">
                          
      <select class="form-control" id="priceRange" name="priceRange" >
          <option value="" class="gray" selected disabled hidden>Select Cost</option>
          <option value="null">Please select price Range</option>
          <option value="$">$</option>
          <option value="$$">$$</option>
          <option value="$$$">$$$</option>
          <option value="$$$$">$$$$</option>
      </select>
    </div>
</div>

<div style="float:left; width:5%;">
  <button type="button" id="filterBtn">Filter</button>
</div>
<div class="form-group col-md-6 mb-3">
   {{!-- <div class='errorGymStar' id="errorFilter" >

   </div> --}}
   {{!-- Malay: Commenting this if to show client side error in the same error field --}}
   {{!-- {{#if error}}  --}}   
      <h3 class="gym-error" id="errorFilter">{{error}}</h3>
   {{!-- {{/if}} --}}
 </div>
  </form>
  </div>
</div> 

<div class="gym-container">
  <div class="gymlist-content">
  {{!-- <h3>{{error}}</h3> --}}
  <h1 class="gym-title">Gyms</h1>
  <br>

  
  <br>
  {{#if gyms}}
  {{#each gyms}} 
  
  <div onclick="location.href='/gyms/{{_id}}';" class="card" style="width:600px">
    
    <div class="card-body text-white bg-dark"> 
      <h4 class="card-title">{{gymName}}</h4>
      <h5 class="card-text">{{location}}</h5>
      <h5 class="card-text">{{priceRange}}</h5>
      <h5 class="card-text">{{overallRating}}</h5>
     
      
      <h5 class="card-text">{{phoneNumber}}</h5>
    </div>
  </div>
  {{/each}} 
  {{else}}
    <h3>No gyms to display</h3>
  {{/if}}


</div>
  </div>
</div>
</div> 





