
<div class="main">

<div class="container">
  
  <div class="card" style="width:600px">
    
    <div class="card-body">
      <h4 class="card-title">{{gym.gymName}}</h4>
      <h6 class="card-title">{{gym.location}}</h6>
      <h6 class="card-title">{{gym.priceRange}}</h6>
      <h6 class="card-title">{{gym.overallRating}}</h6>
      <h6 class="card-title">{{gym.phoneNumber}}</h6>
      <a href="/order/booking/{{gym._id}}" class="btn btn-primary">Book session</a>
      <a href="/trainers/gym/{{gym._id}}" class="btn btn-primary">View Trainers</a>
      <a href="/review/addReviewToGym/{{gym._id}}" class="btn btn-primary">Add Review</a>
      {{#if owner}}
        <button class = "btn btn-primary" onclick="location.href='/gyms/gymupdate/{{gym._id}}';">Update Gym</button>
      {{/if}}
    
    </div>
  </div>
</div>    

<h5>Reviews</h5>



{{#each reviews}} 

  <div class="container">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4">
          <h4 class="text-dark">{{reviewer}}</h4>
          <p class="small text-muted font-italic">{{date}}</p>
          <ul class="list-inline small">
            {{#times rating}}
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            {{/times}}
            
          </ul>
          <h6> <a href="#" class="text-dark">{{reviewText}}</a></h5>
          
        </div>
      </div>
    </div>
    <br>

   
  {{/each}}


</div>